<! DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" contents="width=device-width , initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Hello</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='inputcitystyle.css') }}">
<body>
	<div class="container-fluid bg-1">
		<div class="container">
			<div class="jumbotron">
				<h1>Let's Get You Started Up!</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid bg2">
	<div class="container">
		<div class="row r justify-content-center">
			<h3><b>hhuhhuhuhh</b></h3>
		</div>
		<div class="row justify-content-center">
			<form method="POST" action="/user/{{name}}">
				<div class="form-group">
					<label for="city"><b>Home :</b></label>
					<input typr="text" class="form-control" name="city" placeholder="Enter your city here">
					<button type="submit" class="btn btn-success btn-block bu" name="type" value="city">Let's Go !</button>
				</div>
			</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
